.carousel {
  position: relative;
  overflow: hidden;
}

.inner-container {
  display: flex;
  align-items: flex-start;
  transition: transform 0.5s ease;
}

.carousel img {
  width: 100%;
  height: auto;
}
