<div class="page-body">
  <!-- navbar -->
  <ng-container *ngTemplateOutlet="navbar"></ng-container>

  <!-- body -->
  <ng-container *ngTemplateOutlet="sections"></ng-container>

  <!-- Buttons -->
  <ng-container *ngTemplateOutlet="actionBtns"></ng-container>
</div>

<!-- NAVBAR -->
<ng-template #navbar>
  <header class="navbar-header">
    <nav class="navbar">
      <img src="/assets/ilvc_logo.png" alt="" style="width: 130px" />
      <ul class="navbar-items-container">
        <!-- SOBRE O LRAIL -->
        <li class="navbar-item" (click)="navigateToSpecificSection(1)"
          [class.navbar-item-active]="visibleSection === 1">
          <span class="material-icons icon-large">&#xe86e;</span>
          <span>Sobre o LRAIL</span>
        </li>
        <!-- TECNOLOGIAS -->
        <li class="navbar-item" (click)="navigateToSpecificSection(2)"
          [class.navbar-item-active]="visibleSection === 2">
          <span class="material-icons icon-large">&#xe322;</span>
          <span>Tecnologias</span>
        </li>
        <!-- CAPACIDADES -->
        <li class="navbar-item" (click)="navigateToSpecificSection(3)"
          [class.navbar-item-active]="visibleSection === 3">
          <span class="material-icons icon-large">&#xf092;</span>
          <span>Capacidades</span>
        </li>
        <!-- COBERTURA -->
        <li class="navbar-item" (click)="navigateToSpecificSection(4)"
          [class.navbar-item-active]="visibleSection === 4">
          <span class="material-icons icon-large">&#xe80b;</span>
          <span>Cobertura</span>
        </li>
      </ul>
    </nav>
  </header>
</ng-template>

<!-- SECTIONS -->
<ng-template #sections>
  <div class="sections-container" id="container" [style.transform]="'translateX(' + translateX + '%)'">
    <!-- Sobre o LRAIL -->
    <ng-container *ngTemplateOutlet="aboutSection"></ng-container>

    <div class="section" id="section2">
      <span>Seção Tecnologias</span>
    </div>

    <div class="section" id="section3">
      <ng-container *ngTemplateOutlet="capabilitiesSection"></ng-container>
    </div>

    <div class="section" id="section4">
      <span>Seção Cobertura</span>
    </div>
  </div>
</ng-template>

<ng-template #actionBtns>
  <!-- Next -->
  <div class="proximity-trigger right0" (mouseenter)="triggerButtons()" (mouseleave)="hideButtons()">
    <button (click)="goToNextSection()" class="action-btn btn-right circle"
      [style.right]="buttonsAreVisible ? '2rem' : '-5rem'">
      <span class="material-icons">&#xe5e1;</span>
    </button>
  </div>

  <!-- Previous -->
  <div class="proximity-trigger left0" (mouseenter)="triggerButtons()" (mouseleave)="hideButtons()">
    <button (click)="goToPreviousSection()" class="action-btn btn-left circle"
      [style.left]="buttonsAreVisible ? '2rem' : '-5rem'">
      <span class="material-icons">&#xe5e0;</span>
    </button>
  </div>
</ng-template>

<ng-template #accentCard>
  <div class="accent-card column" style="width: 400px">
    <h3 style="color: var(--ice)" class="accent-card-title">Sobre o LRAIL</h3>
    <div class="accent-card-body">
      <span class="accent-card-text"></span>
    </div>
  </div>
</ng-template>

<ng-template #aboutSection>
  <div class="section" id="section1">
    <!-- Title -->
    <h1>{{texts.about.title}}</h1>
    <div class="row justify-center gap-on-screen-large">
      <!-- Paragraphs -->
      <div class="column gap-small" style="max-width: 60ch;">
        <p *ngFor="let paragraph of texts.about.paragraphs">{{paragraph}}</p>
      </div>
      <!-- Images -->
      <div style="width: 450px; height: auto; border: 1px solid; flex-shrink: 0;"></div>
    </div>


    <div class="column" style="text-align: center">
      <h1>Tecnologias</h1>
      <div class="row" style="width: 80%; align-self: center; flex-wrap: nowrap; gap: 2rem">
        <!-- card1 -->
        <div class="accent-card column" style="flex: 1">
          <span style="color: var(--ice)" class="accent-card-title">
            Inspeção por IA
          </span>
          <div class="accent-card-body">
            <span class="accent-card-text">
              O sistema utiliza um motor de inteligência artificial para
              realizar inspeção e detecção de alterações. A avançada Rede Neural
              Profunda do LRAIL detecta automaticamente componentes
              ferroviários, avalia suas condições e detecta alterações entre
              repetições.
            </span>
          </div>
        </div>
        <!-- card1 -->
        <div class="accent-card column" style="flex: 1">
          <span style="color: var(--ice)" class="accent-card-title">
            Redução de custos
          </span>
          <div class="accent-card-body">
            <span class="accent-card-text">
              O LRAIL é capaz de realizar medições simultâneas de geometria,
              imagens 2D e digitalização 3D, garantindo passagem única, além de
              incluir processamento de dados por inteligência artificial. Essas
              características fazem com que o LRAIL possa substituir facilmente
              vários sistemas de medição, economizando custos, peso e potência.
            </span>
          </div>
        </div>
        <!-- card1 -->
        <div class="accent-card column" style="flex: 1">
          <span style="color: var(--ice)" class="accent-card-title">
            Precisão e performance
          </span>
          <div class="accent-card-body">
            <span class="accent-card-text">
              O processo de inspeção é objetivo e totalmente conduzido por
              computador, além de apresentar maior reprodutibilidade e
              resultados tão precisos quanto aqueles de inspeções manuais. O
              desempenho do LRAIL também foi testado e verificado em campo pela
              Administração Federal de Ferrovias dos Estados Unidos (FRA).
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>






<ng-template #capabilitiesSection>
   <!-- Title -->
   <h1>{{currentCapability.title}}</h1>
   <div class="row justify-center gap-on-screen-large">
     <!-- Paragraphs -->
     <div class="column gap-small" style="max-width: 60ch;">
       <p *ngFor="let paragraph of currentCapability.paragraphs">{{paragraph}}</p>
     </div>
     <!-- Images -->
     <div style="width: 450px; height: auto; border: 1px solid; flex-shrink: 0;"></div>
   </div>
</ng-template>